<body>
  <script>
    document.addEventListener("DOMContentLoaded", function()
    { document.querySelectorAll('.feat_card').forEach(card
    => { if (card.querySelector('.feat_card_description')) {
    card.style.gap = 'var(--spasing-2)'; } }); });
  </script>

  <div class='page'>
    <section class='page_section'>
      <div class='page_content'>
        <div class='hero_section'>

          <div class='hero hero_content'>

            <p class='hero_label'>Slack Features</p>
            <h1 class='hero_title'>One platform for your
              team and your work</h1>
            <p class='hero_info'>All the features of Slack
              work together so you can, too.</p>

            <div class='hero_buttons'>
              <a
                href='#'
                class='button button_primary click'
              >Try for free</a>
              <a
                href='#'
                class='button button_secondary click'
              >See all features</a>
            </div>

            <img
              src='/img/hero.png'
              alt='Hero'
              class='hero_image'
            />

          </div>

          <div class='brands'>
            <img
              src='/img/brands/airbnb.png'
              alt='airbnb'
              class='brands_imagе'
            /><img
              src='/img/brands/target.png'
              alt='target'
              class='brands_imagе'
            /><img
              src='/img/brands/uber.png'
              alt='uber'
              class='brands_imagе'
            /><img
              src='/img/brands/onemedical.png'
              alt='onemedical'
              class='brands_imagе'
            /><img
              src='/img/brands/newscorp.png'
              alt='newscorp'
              class='brands_imagе'
            /><img
              src='/img/brands/VA.png'
              alt='VA'
              class='brands_imagе'
            /><img
              src='/img/brands/intuit.png'
              alt='intuit'
              class='brands_imagе'
            /><img
              src='/img/brands/sonos.png'
              alt='sonos'
              class='brands_image'
            />
          </div>
        </div>
      </div>
    </section>

    <section class='page_section page_section_light'>
      <div class='page_content features_section'>
        <div class='features_text'>
          <h2 class='features_title'>Work more easily with
            everyone</h2>
          <p class='features_description'>Stay on the same
            page and make decisions faster by bringing all
            of your work communication into one place.</p>
        </div>
        <div class='features_grid_4'>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature/connect.svg')"
            ></span>
            <strong class='feat_card_title'>Slack Connect</strong>
            <p class='feat_card_description'>Collaborate
              with teams at other companies the same way you
              do with teams at your own.</p>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature/channels.svg')"
            ></span>
            <strong
              class='feat_card_title'
            >Channels</strong>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature/huddles.svg')"
            ></span>
            <strong class='feat_card_title'>Huddles</strong>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature/clips.svg')"
            ></span>
            <strong class='feat_card_title'>Clips</strong>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature/canvas.svg')"
            ></span>
            <strong class='feat_card_title'>Canvas</strong>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature/messaging.svg')"
            ></span>
            <strong
              class='feat_card_title'
            >Messaging</strong>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature/accessibility.svg')"
            ></span>
            <strong
              class='feat_card_title'
            >Accessibility</strong>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

        </div>
      </div>
    </section>

    <section class='page_section page_section_light'>
      <div class='page_content features_section2'>
        <div class='features_text2'>
          <h2 class='features_title'>What you need, when you
            need it</h2>
          <p class='features_description'>Spend less time
            shuffling tabs with a comprehensive message
            archive and all your work tools at your
            fingertips.</p>
        </div>

        <div class='features_grid_3'>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature2/Apps.svg')"
            ></span>
            <strong class='feat_card_title'>Apps and
              Integrations</strong>
            <p class='feat_card_description'>Streamline work
              by connecting Slack with other services like
              Google Drive, Office 365 and over 2,200 more.</p>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature2/Workflow.svg')"
            ></span>
            <strong class='feat_card_title'>Workflow Builder</strong>
            <p class='feat_card_description'>Automate
              routine actions and communication, so you can
              get back to the kind of work only humans can
              do.</p>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

          <div class='feat_card'>
            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature2/Search.svg')"
            ></span>
            <strong class='feat_card_title'>Search</strong>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

          <div class='feat_card'>

            <span
              class='icon feat_icon'
              style="background-image: url('/svg/feature2/File_sharing.svg')"
            ></span>
            <strong class='feat_card_title'>File sharing</strong>
            <a
              href='#'
              class='icon icon_arrow click feat_link'
            ></a>
          </div>

        </div>
      </div>
    </section>

  </div>

</body>