.lesson-four-task-one .btn:hover {
  color: red;
  background-color: yellow;
}

.link:hover + .title {
  background: green;
}

.lesson-four-task-three a:visited {
  color: yellow;
}

.lesson-four-task-four a:link {
  color: red;
}

.lesson-four-task-five .btn:active {
  color: blue;
}

.lesson-four-task-six .btn:focus {
  color: orange;
  background-color: orange;
}

.lesson-four-task-seven #target:target {
  color: white;
  background-color: green;
}

.lesson-four-task-eight #checkbox:checked + #target {
  background-color: blue;
  color: white;
}

.lesson-four-task-nine p:lang(uk) {
  color: blue;
}

.lesson-four-task-ten .form-control:enabled {
  color: red;
  background-color: yellow;
}

.lesson-four-task-eleven input:disabled {
  background-color: yellow;
}

.lesson-four-task-twelve input:read-write {
  background-color: yellow;
}

.lesson-four-task-thirteen input:read-only {
  background-color: yellow;
}

.lesson-four-task-thirteen input {
  border: 1px solid blue;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 5px red;
}

.lesson-four-task-fourteen input:valid {
  background-color: green;
}

.lesson-four-task-fourteen input:invalid {
  background-color: red;
}

.lesson-four-task-fifteen #message:optional {
  background-color: red;
}

.lesson-four-task-sixteen input:out-of-range {
  color: red;
}

.lesson-four-task-seventeen input:in-range {
  color: red;
}

.lesson-four-task-eighteen input:placeholder-shown {
  background-color: red;
}

.lesson-four-task-nineteen button:focus-within {
  color: white;
  background-color: yellow;
}

.lesson-four-task-twenty input:invalid {
  background-color: red;
}
