@layer normalize, component, variant, main, adaptive;

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/font/HelveticaNeueBold.ttf");
}

@layer component {

  .button {
    text-decoration: none;
    color: var(--color-black);
    padding: var(--spasing-3);
    border-radius: var(--radius-1);
    text-align: center;
    border: 1px solid transparent;
  }

  .click {
    transition: opacity var(--opacity-1);
  }

  .click:hover {
    opacity: var(--opacity-1);
    cursor: pointer;
  }

  .click:active {
    opacity: var(--opacity-2);
  }



  .icon {
    display: block;

    background-repeat: no-repeat;
    background-position: center center;
  }

}

@layer variant {
  .button_primary {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .button_secondary {
    color: var(--color-primary);
    border-color: var(--color-primary);
    border-width: 2px;
  }

  .page_section_light {
    background-color: var(--color-light);
  }

  .feat_icon {
    height: 48px;
    width: 48px;
  }

  .icon_arrow {
    height: 14px;
    width: 24px;
    background-image: url('/svg/arrow-right.svg');
  }
}

body {
  font-family: "HelveticaNeueBold", sans-serif;

  background-color: var(--color-white);
}

:root {
  --color-white: #ffffff;
  --color-black: #000;
  --color-primary: #611F69;
  --color-light: #F4EDE4;



  --page-width-big: 1260px;
  --page-width-medium: 1000px;
  --page-width-small: 700px;

  --spasing-1: 8px;
  --spasing-2: 12px;
  --spasing-3: 16px;
  --spasing-4: 20px;
  --spasing-5: 24px;
  --spasing-6: 28px;
  --spasing-7: 32px;
  --spasing-8: 36px;
  --spasing-9: 40px;

  --size-1: 14px;
  --size-2: 18px;
  --size-3: 22px;
  --size-4: 26px;
  --size-5: 30px;
  --size-6: 34px;

  --radius-1: 4px;

  --opacity-1: 0.7;
  --opacity-2: 0.3;
  --transition-1: 0.7s;

  --line-height-1: 1.5em;
  --line-height-2: 1.7em;
}

/* @layer main { */
.page {
  display: grid;
}

.page_section {
  display: flex;
  justify-content: center;
}

.page_content {
  width: 100%;

  padding: var(--spasing-3);
}

.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 200px;

  height: 60vh;
  /* min-height: 1080px; цей параметр переїхав у @media*/
}

.hero_content {
  display: grid;
  gap: var(--spasing-5);
  max-width: 425px;
  color: var(--color-black);
  position: relative;

}

.hero_label {
  font-size: var(--size-1);
}

.hero_title {
  font-size: 50px;
}

.hero_info {
  font-size: var(--size-2);
}

.brands {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: var(--spasing-9);
  row-gap: var(--spasing-4);
  flex-wrap: wrap;
}



.hero_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spasing-4);
}

.features_section {
  padding-top: 150px;
  padding-bottom: 150px;

  display: grid;
  gap: var(--spasing-5);

  background-image: url('/img/features.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.features_title {
  font-size: var(--size-6);
}

.features_description {
  font-size: var(--size-2);
  max-width: 520px;
  line-height: var(--line-height-2);
}

.feat_card {
  padding: var(--spasing-3);
  background-color: var(--color-white);
  display: grid;
  gap: var(--spasing-4);

  /* grid-template-rows: min-content min-content 1fr min-content; */
}

.feat_card>p {
  line-height: var(--line-height-1);
}

.feat_link {
  justify-self: flex-end;
}

.features_grid_4 {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: var(--spasing-3);
}

.features_grid_4>.feat_card:first-of-type {
  grid-row: 1/3;
}

/* } */

/* @layer adaptive { */
@media all and (min-width: 1260px) {
  .hero_section {

    min-height: 680px;
  }

  .hero_image {
    position: absolute;
    top: 0;
    left: 580px;

  }

  .page_content {
    max-width: var(--page-width-big);
  }

  .hero_content {
    max-width: 425px;
  }
}

@media all and (1000px <=width < 1260px) {

  .page_content {
    max-width: var(--page-width-medium);
  }

  .hero_section {
    min-height: 1040px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .hero_image {
    position: static;
    width: 100%;
    top: 20px;
    /* order: -1; */
  }

  .hero_content {
    max-width: 100%;
    margin-top: 100px;
  }
}

@media all and (width < 1000px) {

  .page_content {
    max-width: var(--page-width-small);
  }

  .hero_section {
    min-height: 1040px;
  }

  .hero_image {
    position: static;
    width: 100%;
    top: 20px;
    /* order: -1; */
  }

  .hero_content {
    max-width: 100%;
  }

  .features_grid_4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .features_grid_4>.feat_card:first-of-type {
    grid-row: 1/3;
  }
}

@media all and (width < 690px) {

  .hero_section {
    min-height: 1084px;
  }

  .hero_content {
    max-width: 100%;
  }
}

@media all and (width < 600px) {

  .features_section {
    background-image: none;
  }

  .features_grid_4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (width < 400px) {
  .hero_buttons {
    grid-template-columns: 1fr;
    gap: var(--spasing-2);
  }

  .hero_section {
    min-height: 1180px;
  }

  .features_grid_4 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (width < 250px) {

  .hero_section {
    min-height: 1220px;
  }
}

/* } */