:root {
  --color-line: #dee2e6;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;
  --space-xb: 80px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-primary: #563d7c;
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343a40;
  --color-link: #0D6EFD;

  --border-radius: 12px;
  --border-radius-sm: 4px;

  --weight-title: 500;
  --weight-text: var(--weight-text);
}

.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}

/* ========================================== */

.header {
  padding: var(--space-l) 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-line);
}

.logo {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 17px;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.nav {
  display: flex;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  line-height: var(--space-xm);
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

/* ================================================= */

.footer {
  padding: var(--space-l) 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-line);
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);

  font-weight: var(--weight-title);
}

.footer_links {
  font-size: var(--size-l);
  color: #6c757d;
}

/* ================================================ */

.hero {
  display: flex;
  align-items: center;
  gap: var(--space-xb);  
}

.hero_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}

.hero_content {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 220px;
  gap: var(--space-l);
}

.hero_title {
  font-size: 36px;
  color: var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;
}

.hero_text {
  font-size: var(--size-l);
  color: var(--color-text);
  font-weight: var(--weight-text);
  line-height: 170%;
}

.button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;  
  border-radius: var(--border-radius-sm);
}

.hero_button {  
  padding: var(--space-m) var(--space-xm);  
  background-color: #6C757D;
  color: var(--color-white);
}

.hero_button:hover {
  color: #000000;
  opacity: 0.5;
}

.blog {
  display: flex;
  gap: var(--space-b);
  /* padding: var(--space-b); */
  border-bottom: 1px solid var(--color-line);
}

.card {
  display: flex;
  flex-direction: column;
  width: 333px;
  min-height: 333px;
  max-height: max-content;
  /* text-align: center; */
  gap: var(--space-l);
  padding: 0 var(--space-l);
}

.card_image {
  width: 64px;
  height: 64px;
  border-radius: 12px;
}

.card_title {
  font-size: 32px;
  font-weight: var(--weight-title);
  color: var(--color-title);
  
}

.card_text {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  color: var(--color-text);
  
}



.featured_button {
  color: var(--color-link);
  text-decoration-line: none;
}

.featured_button:hover {
  text-decoration-line: underline;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: fit-content;

  background-color: var(--color-primary);
  padding: var(--space-l);
  border-radius: var(--border-radius);
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form_title {
  font-size: var(--space-l);
  font-weight: var(--weight-title);
  color: var(--color-white);
}

.form_info {
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-white);
}

.form_button {
  padding: var(--space-xm);
  background-color: var(--color-white);
  min-width: auto;
  width: 240px;
  color: var(--color-text);
  text-align: center;
  /* margin-right: 12px; */
}

.form_button:not(:last-child) {
  margin-right: 12px;
}

.form_button:hover {
  color: #000000;
  opacity: 0.5;
}