<footer class="footer">
  <div>
    {{>logo}}
    <span class="footer_copyright">Copyright 2023-2024</span>
  </div>
  {{#each footer}}
  <div>
    <span class="footer_title">{{title}}</span>
    <span class="footer_links">{{>nav list=links isVertical=true}}</span>
  </div>
  {{/each}}
</footer>